asgiref==3.11.1
charset-normalizer==3.4.6
crispy-bootstrap5==2026.3
Django==6.0.3
django-crispy-forms==2.6
django-widget-tweaks==1.5.1
dj-database-url==2.3.0
gunicorn==25.3.0
packaging==26.0
Pillow==12.1.1
psycopg2-binary==2.9.10
reportlab==4.4.10
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.12.0
